@{
	ViewBag.Title = "Admin Dashboard.";
}

<div>
	<h2>Category Section</h2>
	<a asp-area="Admin" asp-controller="Category" asp-action="list">List all categories</a>
	<a asp-area ="Admin" asp-controller="Category" asp-action="create">Create a Category</a>
</div>